@charset "UTF-8";

@font-face {
  font-family: "untitled-font-14";
  src:url("fonts/untitled-font-14.eot");
  src:url("fonts/untitled-font-14.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-14.woff") format("woff"),
    url("fonts/untitled-font-14.ttf") format("truetype"),
    url("fonts/untitled-font-14.svg#untitled-font-14") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-14" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-14" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scissors:before {
  content: "\63";
}
.icon-pagelines:before {
  content: "\64";
}
.icon-tint:before {
  content: "\65";
}
.icon-calculator:before {
  content: "\66";
}
.icon-ios-location:before {
  content: "\68";
}
.icon-android-time:before {
  content: "\69";
}
.icon-question:before {
  content: "\6a";
}
.icon-nuclear:before {
  content: "\6b";
}
.icon-star-o:before {
  content: "\6c";
}
.icon-star:before {
  content: "\6d";
}
.icon-android-favorite:before {
  content: "\6e";
}
.icon-android-favorite-outline:before {
  content: "\6f";
}
.icon-bar-chart:before {
  content: "\70";
}
.icon-bookmark:before {
  content: "\71";
}
.icon-bookmark-o:before {
  content: "\72";
}
.icon-check:before {
  content: "\73";
}
.icon-gift:before {
  content: "\76";
}
.icon-heart-o:before {
  content: "\77";
}
.icon-heart:before {
  content: "\78";
}
.icon-location-arrow:before {
  content: "\79";
}
.icon-paperclip:before {
  content: "\41";
}
.icon-signal:before {
  content: "\42";
}
.icon-sort-alpha-asc:before {
  content: "\43";
}
.icon-sort-alpha-desc:before {
  content: "\44";
}
.icon-sort-amount-asc:before {
  content: "\45";
}
.icon-sort-amount-desc:before {
  content: "\46";
}
.icon-sort-asc:before {
  content: "\47";
}
.icon-sort-desc:before {
  content: "\48";
}
.icon-sort-numeric-asc:before {
  content: "\49";
}
.icon-sort-numeric-desc:before {
  content: "\4a";
}
.icon-alert-circled:before {
  content: "\4b";
}
.icon-alert:before {
  content: "\4c";
}
.icon-android-close:before {
  content: "\4d";
}
.icon-android-funnel:before {
  content: "\4e";
}
.icon-android-options:before {
  content: "\4f";
}
.icon-beaker:before {
  content: "\50";
}
.icon-flash:before {
  content: "\52";
}
.icon-ios-flask:before {
  content: "\53";
}
.icon-ios-flask-outline:before {
  content: "\54";
}
.icon-ios-arrow-forward:before {
  content: "\56";
}
.icon-pricetag:before {
  content: "\57";
}
.icon-speedometer:before {
  content: "\58";
}
.icon-wrench:before {
  content: "\5a";
}
.icon-search:before {
  content: "\55";
}
.icon-logo:before {
  content: "\59";
}
.icon-lightbulb-o:before {
  content: "\30";
}
.icon-line-chart1:before {
  content: "\31";
}
.icon-leaf:before {
  content: "\32";
}
.icon-waterdrop:before {
  content: "\33";
}
.icon-measure:before {
  content: "\34";
}
.icon-stack:before {
  content: "\36";
}
.icon-navicon:before {
  content: "\38";
}
.icon-user-1:before {
  content: "\7a";
}
.icon-ios-arrow-back:before {
  content: "\61";
}
.icon-fire-extinguisher:before {
  content: "\67";
}
.icon-line-chart:before {
  content: "\62";
}
