@import "mixins.scss";

$gapColumns: 16;

.search-container {
  display: inline-flex;
  gap: vw(16);
  > search-container {
    flex: 1;
  }
  > filter-button {
  }
}
ul#plant-list {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: vh(16);
  > li {
    > ul {
      display: inline-flex;
      flex-wrap: wrap;
      > li {
        flex-basis: 100%;
      }
    }
  }
}
