:root {
  --ion-color-primary: #d2e69c;
  --ion-color-primary-rgb: 210, 230, 156;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #b9ca89;
  --ion-color-primary-tint: #d7e9a6;

  --ion-color-secondary: #4b778d;
  --ion-color-secondary-rgb: 75, 119, 141;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #42697c;
  --ion-color-secondary-tint: #5d8598;

  --ion-color-tertiary: #28b5b5;
  --ion-color-tertiary-rgb: 40, 181, 181;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #239f9f;
  --ion-color-tertiary-tint: #3ebcbc;

  --ion-color-success: #47bc79;
  --ion-color-success-rgb: 71, 188, 121;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #3ea56a;
  --ion-color-success-tint: #59c386;

  --ion-color-warning: #dddc54;
  --ion-color-warning-rgb: 221, 220, 84;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #c2c24a;
  --ion-color-warning-tint: #e0e065;

  --ion-color-danger: #bc4749;
  --ion-color-danger-rgb: 188, 71, 73;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #a53e40;
  --ion-color-danger-tint: #c3595b;

  --ion-color-medium: #2f5d62;
  --ion-color-medium-rgb: 47, 93, 98;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #295256;
  --ion-color-medium-tint: #446d72;

  --ion-color-light: #dfeeea;
  --ion-color-light-rgb: 223, 238, 234;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c4d1ce;
  --ion-color-light-tint: #e2f0ec;
}
